<br>
<div class="row">
  <div class="col-md-7 col-center">
    <h1>Creacion de Usuario: </h1>
  </div>
</div>
<br>

<form>
    <div class="form-row">
        <div class="form-group col-md-4">
          <label>Nombres Usuario:</label>
          <input type="text" class="form-control" id="NombresUsu">
        </div>
        <div class="form-group col-md-4">
            <label>Apellidos Usuario:</label>
            <input type="text" class="form-control" id="ApellidosUsu">
          </div>
        <div class="form-group col-md-4">
          <label>Documento Identidad Usuario:</label>
          <input type="text" class="form-control" id="DocumentoUsu">
        </div>
      </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Rol Usuario:</label>
            <select id="RolUsu" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
        </div>
      <div class="form-group col-md-4">
        <label>Login Usuario:</label>
        <input type="text" class="form-control" id="LoginUsu1">
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Contraseña Usuario:</label>
        <input type="text" class="form-control" id="ContraseñaUsu">
      </div>
    </div>
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <br>
    <br>
    <div class="row"> 
        <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>