<br>
<div class="row">
  <div class="col-md-7 col-center">
    <h1>Creacion de Rol: </h1>
  </div>
</div>
<br>

<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Descripcion de Rol a Crear:</label>
        <input class="form-control" id="DesRol">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
      
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <br>
    <br>
    
    <div class="row"> 
      <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </form>
